<body>
  <link rel="stylesheet" 
  href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><a>Library Management System&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  </li>
    <li><a href="viewadmins">View Admins&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
    <li><a href="addadmin">Add Admin&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li style="margin-left: 500px;"><a href="**" ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>

  </ul>
</body>