<body>
  <link rel="stylesheet" 
  href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><a>Library Management System</a>
    </li>
    <li style="margin-left: 200px;"><a (click)="view()">View Profile&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

    <li><a (click)="searchBooks()">Search Books</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a (click)="renewBook()">Renew Book&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a (click)="returnBook()">Return Book</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a (click)="viewIssueDetails()">View Issue Details </a></li>
     
    <li style="margin-left: 30px;"><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>


  </ul>
</body>